<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitflake.allcount">


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:screenOrientation="portrait"-->

        <meta-data
            android:name="DATABASE"
            android:value="bitflake.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.bitflake.allcount.db" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".CountActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".RecordActivityBak" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MobileCountService" />
        <service android:name="com.bitflake.counter.services.ProxySensorService" />
        <service android:name=".MobileRecordService" />
        <service android:name="com.bitflake.counter.services.WearRecordService" />
        <!--<service android:name="com.bitflake.counter.services.WearCountService" />-->
        <service android:name=".VoiceFeedbackService" />

        <!--<receiver android:name="com.bitflake.counter.wear.WearMiddlemenReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.bitflake.counter.count.control.wear" />-->
        <!--<action android:name="com.bitflake.counter.record.control.wear" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <service android:name="com.bitflake.counter.services.WearBroadcastProxyService">
            <!--<intent-filter>-->
            <!--<action android:name="com.google.android.gms.wearable.BIND_LISTENER" />-->
            <!--</intent-filter>-->
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bitflake.allcount.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />

        </provider>
    </application>

</manifest>
